@import 'common.css';

.eLibrary {
    padding: 114px 0 150px 0;
    background-color: #f2f5fb;
}

.content h3 {
    font-size: 25px;
    font-weight: 600;
    color: #1b77bd;
    padding-bottom: 30px;
}

.libraryItems .col-lg-4 div {
    width: 350px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    margin-bottom: 30px;
    text-align: center;
}

.libraryItems .col-lg-4 div:hover {
    box-shadow: 0px 15px 35px -5px #A3AFC6;
}

.libraryItems div a {
    color: #0A3352;
    font-size: 20px;
    font-weight: 500;
}