@import 'common.css';

.subConsumer {
    background-color: #f2fbf5;
    padding: 114px 0 0 0;
}

.consumerContent {
    display: flex;
    flex-direction: row;
}

.content h3 {
    font-size: 25px;
    font-weight: 600;
    color: #1b77bd;
    padding-bottom: 30px;
}

.content p {
    font-size: 16px;
    color: #0A3352;
    font-weight: 300;
}

.consumerContent div:first-child {
    width: 70%;
    padding-right: 20px;
}

.consumerContent div:last-child {
    height: 670px;
    width: 30%;
    background-color: white;
    padding: 42px 30px;
}

.consumerContent div:last-child h5 {
    font-weight: 600;
    color: #0A3352;
    font-size: 16px;
}

.consumerContent div:last-child a {
    display: inline-flex;
    font-size: 16px;
    color: #1b77bd;
    text-decoration: underline !important;
    margin: 10px 0;
}